.nav-icon{
	color: #FFF;
	opacity: 0.5;
	cursor: pointer;
}

.nav-icon:hover{
	opacity: 1;
}


.nav-goPage{
	cursor: pointer;
}


.navs{
	position: absolute;
	bottom: 20px;
	left:0px;
	background-color: transparent;
	width: 100%;
	text-align: center;
	color: white;
}

.navs i{
	margin-right: 20px;
	margin-left: 20px;
}

.model-navs{
	width: 100vw;
	position: absolute;
	top: 50%;
	left: 0;
	padding: 0 30px;
}

.model-navs i:first-child{
	float: left;
}

.model-navs i:last-child{
	float: right;
}

.nav-close{
	position: absolute;
	top:10px;
	right: 10px;
	color: #FFF;
	opacity: 0.5;
	cursor: pointer;
}

.nav-close:hover{
	opacity: 1;
}